<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Размечаем фамилии</title>
    <link rel="stylesheet" href="{{ url_for('accentor.static', filename= 'css/accentor.css') }}">
</head>
<body>

<p id="surname">
  <span> {{ surname }}</span>
</p>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="{{ url_for('accentor.static', filename= 'js/accentor.js') }}"></script>
<script>    surname = "{{  surname }}" </script>
<script>    document.addEventListener("keyup", MakeStress) </script>


<script>
    window.onload = () => {
        stress = surname.search('\\+')
        let paragraph = document.getElementById("surname");
        paragraph.innerHTML = surname.slice(0, stress - 1) +
            "<span style='color: red; font-weight: bolder'>" +
            surname[stress -1] +
            "</span>" +
            surname.slice(stress + 1);
    }
</script>

</body>
</html>